.calendarCard, .card{
    --bs-card-bg: none!important;
    color: white;
}

.calendarCard td .btn,
.timeCard .btn {
    color: white;
}

.calendarCard  .card-header, .timeCard .card-header{
    border: none;
    background-color: transparent;
}

.selectedDate{
    background-color: rgb(56, 56, 56);
    color: white;
}

.dateLabel{
    display: block;
    min-width: fit-content;
    height: fit-content;
}

.dateLabel>input[type="radio"]{
    display: none;
}

:hover:where(td:has(.dateLabel), .dateLabel){
    cursor: pointer;
}
  
td:has(.dateLabel):hover{
border: 1px solid white;
}