.scheduleCard {
  color: white;
  margin-bottom: auto;
  margin-top: 2em;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  align-self: center;
  border: none;
  box-shadow: 10px 10px 25px -5px rgb(36, 36, 36);
  z-index: 1;
}

.scheduleCard> .card-header{
    background-color: #56534b;
    color: white;
    border: none;
}

.scheduleCard h2{
    font-size: 1em;
}

.scheduleCard .card{
    border: none;
}

.scheduleCard h3 {
  font-size: 1em;
  letter-spacing: .2em;
}

.scheduleCard h3{
    text-shadow: 2px 2px rgb(49, 49, 49);
}
.scheduleCard span{
    vertical-align:middle;
}

.scheduleCard table{
    color: white;
}

.container {
    width: 100%;
  }
    
.progressbar {
  counter-reset: step;
  border: none;
}

.nav{
  --bs-nav-link-hover-color:white;
  --bs-nav-link-color:white;
}
.progressbar .nav-link{
  list-style: none;
  display: inline-block;
  width: 33.3%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: white;
  border-color: #8b99a9;
  background-color: transparent;
}

.nav-tabs{
  --bs-nav-tabs-border-width: 0;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #ffffff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .35em;
  background-color: #ffffff;
  top: 1.25em;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li {
  color: #8b99a9;
}
.progressbar li[data-tab-active='true']:before {
  border-color: #8b99a9;
  background-color: #8b99a9;
} 
.progressbar li[data-tab-active='true'] + li:after {
  background-color: #8b99a9;
}


.tab-pane{
    padding: 2em;
}

.active#Date-Time{
    display: flex;
    flex-wrap: wrap;
}

.form-footer{
  display: flex;
  justify-content: space-between;
  margin: 1em
}

.form-footer .btn{
  flex-basis: 25%;
}

@media only screen and (min-width: 992px) {
  input[type="number"] {
    max-width: 5%;
  }
}
