.timeCard .card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeOption{
    list-style: none;
    padding: .5em;
    margin: .5em;
    border: .05em solid transparent;
}

.timeOption input{
    display: none;
}
:hover:where(
    .timeOption:has(input[type=radio]:not(:disabled))
){
    cursor: pointer;
    border: .05em solid white;
    box-shadow:  .15em .15em .15em  #464646;
}

:hover:where(.timeOption label:has(input[type=radio]:not(:disabled))){
    cursor: pointer; 
}



.timeOption label:has(input[type=radio]:disabled){
    text-decoration:line-through;
}
