.calendarCard, .card{
    --bs-card-bg: none!important;
    color: white;
}

.calendarCard  .card-header, .timeCard .card-header{
    border: none;
    background-color: transparent;
}

.calendarCard table{
    margin-bottom: 0;
}

.selectedDate{
    background-color: #2d2c2c;
    border-color: #272727!important;
    box-shadow:  .15em .15em .15em  #323030;
    color: white;
}

.dateLabel{
    display: block;
    border-radius: 50%;
    padding: .5em;
    border: .05em solid transparent;
    width: fit-content;
    margin: auto;
    padding: .25em 0.5em;
    min-width: 50%;
}


.dateLabel>input[type="radio"]{
    display: none;
}

:hover:where(
    .dateLabel:has(input[type=radio]:not(:disabled))
){
    cursor: pointer;
    border: .05em solid white;
    box-shadow:  .15em .15em .15em  #3b3838;
}

.dateLabel:has(input[type=radio]:disabled){
    text-decoration: line-through;
}

@media only screen and (min-width: 992px) {
    .dateLabel {
        padding: .5em;
    }
}