body {
    background-color: black;
    color: white;
}

/* Class for welcome screen that fades using framer motion library */
.welcome {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.welcome img{
    width: 30%;
}

/* Main screen on home route with backgroud image of barbershop and a schedule button */
.mainScreen {

    background-image: url("../Pictures/inside_barbershop.jpeg");
    background-size: cover;
    background-position: center;
    height: inherit;
    height: calc(100vh - 130.75px);
}

/* Class for schedule button */
.scheduleBtn {
    width: max-content;
    align-self: center;
}

/* used for text on schedule button */
span {
    vertical-align: bottom;
}

/* Overlay div to place gradient over home background image */
.blur {
    background-color: rgba(0, 0, 0, 0.395);
    background: radial-gradient(circle, rgba(249, 249, 249, 0) 0%, rgba(0, 0, 0, 1) 100%);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
     
    .mainScreen{
        height: 100vh;
        background-size: cover;
    }
    .welcome{
        height: 100vh;
        background-size: cover;
    }
    .welcome img{
        width: 20%;
    }
}
