.scheduleCard {
  color: white;
  margin: auto;
  overflow-y: auto;
  width: 90%;
  height: 95%;
  align-self: center;
  border: none;
  box-shadow: 10px 10px 25px -5px rgb(36, 36, 36);
  z-index: 1;
}

.scheduleCard h2{
    font-size: 1em;
}

.scheduleCard .card{
    border: none;
}

.scheduleCard legend, h3 {
  font-size: 1em;
  letter-spacing: .2em;
  text-shadow: 2px 2px rgb(49, 49, 49);
}

.scheduleCard span{
    vertical-align:middle;
}

.scheduleCard table{
    color: white;
}

.container {
    width: 100%;
  }
    
.progressbar {
  counter-reset: step;
  border: none;
  justify-content: center;
}

.nav{
  --bs-nav-link-hover-color:white;
  --bs-nav-link-color:white;
}

.progressbar .nav-link{
  list-style: none;
  display: inline-block;
  width: 33.3%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  color: white;
  border-color: #8b99a9;
  background-color: transparent;
}

.nav-tabs{
  --bs-nav-tabs-border-width: 0;
}

.progressbar li:before {
  position: relative;
  content: counter(step);
  counter-increment: step;
  color: white;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  box-shadow: inset .15em .15em .15em  #5f5b5b;
  background:  linear-gradient(180deg, 
    #6c6c6c, #adadad
      );
  background-repeat: no-repeat;
  background-position: center var(--gradoffset);
  background-size: 100% 200%;
  z-index: 3;
}

.bgBar{
  position: absolute;
  width: 66.6%;
  height: 0.35em;
  top: 3.5em;
  z-index: -2;
  background-color: white;
  opacity: 25%;
  border-style: groove;
  border-color: #8b99a9;
}
.progressbar li:after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: .35em;
  top: 1.25em;
  left: -50%;
  z-index : -1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-style: outset;
  border-color: #8b99a9;
  box-shadow:  .15em .15em .15em  #3b3838;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li {
  color: #8b99a9;
  pointer-events:'none';
}
.progressbar li[data-tab-active='true']:before {
  box-shadow: inset 0.15em 0.15em 0.03em #adadad;
  background: linear-gradient(180deg, #a1b1c4, #717b87 );
} 
.progressbar li[data-tab-active='true'] + li:after {
  background-color: #8b99a9;
  width: 100%;
}


.tab-pane{
    padding: 0 1em;
}

.active#Date-Time{
    display: flex;
    flex-wrap: wrap;
}

.form-footer{
  display: flex;
  justify-content: space-between;
  margin: .5em
}

.form-footer .btn{
  flex-basis: 15%;
}

.btn:has(.closeBtn){
  border: none;
  border-radius: 50%;
}

.closeBtn {
  font-size: 1em!important;
}

.scheduleCard fieldset{
  margin: 1em 0
}

@media only screen and (min-width: 992px) {
  input[type="number"] {
    max-width: 5%;
  }
}
