.timeOption{
    list-style: none;
    padding: .5em;
    margin: .5em;
    border: .05em solid transparent;
    border-radius: 15%;
}

.timeOption input{
    display: none;
}
:hover:where(
    .timeOption:has(input[type=radio]:not(:disabled))
){
    cursor: pointer;
    border: .05em solid white;
    box-shadow:  .15em .15em .15em  #3b3838;
}

:hover:where(.timeOption:has(input[type=radio]:not(:disabled))){
    cursor: pointer; 
}

.timeOption:has(input[type=radio]:disabled){
    text-decoration:line-through;
}

.selectedTime{
    background-color: #2d2c2c;
    border-color: #272727;
    box-shadow:  .15em .15em .15em  #323030;
    color: white;
}