body {
  background-color: black;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  width: 100%;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
span {
  vertical-align: bottom;
}
input[type="number"] {
  display: block;
  margin: 0 auto 1em auto;
  max-width: 5%;
}

table {
  width: 100%;
  margin: 0;
  table-layout: fixed;
  font-size: 85%;
  border-style: none;
}


table tr:nth-child(even) {
  background-color: rgba(216, 216, 216, 0.557);
}

.calendarDate:hover {
  background-color: rgb(56, 56, 56);

  align-self: center;
 
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.light-bg {
  height: 2000px;
  background-color: aliceblue;
}

@media only screen and (min-width: 481px) {
  table {
    font-size: 100%;
  }
}
