body{
  color: white!important;
  background-color: black!important;
}

:root{
  --battleShipGrey: #858888;
  --richBlack: #161d26;
  --richBlackRGB: 22, 29, 38;
  --cadetGrey: #8b99a9;
  --darkElectricBlue: #5f6e7e;
  --davysGrey: #34332c;
  --davysGreyRGB: 52,51,44;
  --primary-color: var(--richBlack);
  --secondary-color:var(--darkElectricBlue);
}

/* Color Palette */
.battleShipGrey {
  background-color: #858888;
  color: white;
}

.cadetGrey {
  background-color: #8b99a9;
  color: white;
}

.richBlack {
  background-color: #161d26;
  color: white;
}

.darkElectricBlue {
  background-color: #5f6e7e;
  color: white;
}

.davysGrey {
  background-color: #34332c;
  color: white;
}
/*****************/

body {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

table, td {
  width: 100%;
  margin: 0;
  table-layout: fixed;
  font-size: 85%;
  border-style: none;
}

.calendarDate:hover {
  background-color: rgb(56, 56, 56);

  align-self: center;

  margin-left: auto;
  margin-right: auto;
  color: white;
}

.light-bg {
  height: 2000px;
  background-color: aliceblue;
}

.btn-primary{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

.btn-primary:hover, .btn-primary:focus{
  box-shadow:0 0 0 0.25rem var(--darkElectricBlue)
}

.btn-secondary{
  border: .15em solid var(--secondary-color);
  background: transparent;
  color: white;

}

@media only screen and (min-width: 481px) {
  table {
    font-size: 100%;
  }
}