.formItem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    margin: .5em 0;
    padding: 0 1em;

}

.formLabel{
    flex-basis: 25%;
    text-align: left;
}

.formItem input{
    border:none;
    flex-basis: 75%;
    padding: .5em .5em .5em 1.5em;
    border-radius: 0.375rem;
}

.formItem:has(input[type="number"]){
    flex-direction: column;
}

.formItem input[type="number"] {
    display: block;
    flex-basis: 10%;
}

.formItem input[type="number"].invalidInput {
    background-image: none;
}

.formItem .invalidInput{
    background: white url("../../Pictures/error.svg") no-repeat right center;
    background-size: 1.5em;
    background-origin: content-box;
    border: .1em solid red;
}

.formItem .invalidInput:focus{
    outline: #b56a72 solid .15em;
}

input[type="number"]+.formAlert{
    margin-left: 0;
}

.formAlert{
    margin: .5em 0 0 25%;
    padding: .5em;
}

